/* --- Global Styles --- */

/* Set custom font */
@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Regular.ttf') format('truetype');
}

/* Set the background color of the page */
body {
  background-color: hsl(212, 45%, 89%);
}


/* --- White Box --- */

/* Style the white box container */
main.white-box {
  display: block;
  margin: 150px auto;
  padding: 25px;
  padding-bottom: 25px;
  max-width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
}

/* Style the image inside the white box */
.white-box img {
  box-sizing: border-box;
  border-radius: 15px;
}

/* Style the header inside the white box */
.white-box h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 700px;
}

/* Style the text inside the white box */
.white-box p {
  font-size: 15px;
  font-weight: 400px;
  color: hsl(220, 15%, 55%);
  font-family: 'Outfit', sans-serif;
}


/* --- Footer --- */

/* Style the footer container */
footer {
  text-align: center;
  margin-top: 250px;
  font-size: 15px;
  color: grey;
}