/* Set the background color of the page */
body {
  background-color: hsl(212, 45%, 89%);
}

/* Style the white box container */
.white-box {
  display: block;
  margin: 150px auto;
  padding: 25px;
  padding-bottom: 50px;
  max-width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
}

/* Style the image inside the white box */
.white-box img {
  box-sizing: border-box;
  border-radius: 15px;
}

/* Style the header inside the white box */
.white-box h1 {
  font-size: 18px;
}

/* Style the text inside the white box */
.white-box p {
  font-size: 16px;
  color: grey;
}