body {
    background-color:hsl(212, 45%, 89%)
}

img {
    border-radius: 5px 5px 0 0;
  }

.qrcode {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 25px;
    padding-bottom: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff
}

.container {
  padding: 2px 16px;